body{
    background-image: url("latar.png")
}

#logo{
    position: fixed;
    top: 0px;
    height: 30px
}

  li {
    display: inline;
    margin-right: 30px;
  }

  nav ul {
    background:white;
    padding: 5;
    text-align: right;
    position: fixed;
    display: inline-table;
    width: 95%;
}

section{
    margin: 80px;
    display: inline-block;
}

#article1{
    background: white;
}
#article2{
    background: white;
}
#article3{
    background: white;
}
#article4{
    background: white;
}
#article5{
    background: white;
}

h5{
    background: black;
    text-align: center;
    color: white;
    padding: 15px;
}